
.advantagesWrap{
    border-bottom: 1px solid #d4b87e;
}
.advantagesList{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.advantageItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
        width: 50px;
        height: 50px;
    }
}