.breadCrumbsWrap{
    padding: 10px 0;
}
.breadCrumbs{
    &__link{
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
    &__span{
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
    
}