.catalog{
    padding: 20px 0 0 0;
    display: flex;
    &__heading{
        margin: auto;
    }
    &__list{
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            @media (min-width: $tabletWidth) {
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            }

        gap: 10px;
    }
}
    
.catalogWrap{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid#d4b87e;
}
.catalogItem{
    position: relative;
    &__img{
        width: 100%;
        min-height: 174px;
        @media (min-width: $tabletWidth) {
            min-height: 295px;
        }
    }
    &__title{
        position: absolute;
        bottom: -10px;
        left: 0;
        color: #d4b87e;
        font-size: 15px;
    }
}
.good{
    &__img{
        width: 100%;
    }
    &__text{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        // @media (min-width: $tabletWidth) {
        //     position: absolute;
        //     top: 22px;
        //     right: 20px;
        //     max-width: 53%;
        // }
    }
}
.options{
    padding: 15px 0;
    border-bottom: 1px solid #d4b87e;
}
table {
    width: 100%;
    border-collapse:collapse;
    text-indent: initial;
    border-spacing: 2px;
}
td{
    justify-content: center;
    border: 1px solid #000;
    padding: 5px;
}

