.demosWrap{
    @media (min-width: $tabletWidth) {
        position: relative;
    }
}
.wrap{
    @media (min-width: $tabletWidth) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;    }

}