
  #swiper{
    margin: 0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 500px;
  }
  .swiper-button-next::after{
    color: black;
  }
  .swiper-button-prev::after{
    color: black;
  }
  .swiper-horizontal {
    margin-left: inherit;
  }